[submodule "terminal/ansi"]
	path = terminal/ansi
  url = git@github.com:multiverse-os/ansi.git
[submodule "terminal/loading"]
	path = terminal/loading
	url = git@github.com:multiverse-os/loading.git
[submodule "terminal/text"]
	path = terminal/text
	url = git@github.com:multiverse-os/text.git
[submodule "terminal/banner"]
	path = terminal/banner
	url = git@github.com:multiverse-os/banner.git
