[submodule "ansi"]
	path = terminal/ansi
  url = https://github.com/multiverse-os/ansi

[submodule "loading"]
	path = terminal/loading
  url = https://github.com/multiverse-os/loading

[submodule "text"]
	path = terminal/text
  url = https://github.com/multiverse-os/text

